.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #FFF5EF;
  font-size: medium;
  font-family: "SvBasicManual";
}

.Header1 {
  font-family: "SvBasicManual";
  font-size: 64px;
  line-height: normal;
  letter-spacing: 0%;
}

.Header2 {
  font-family: "SvBasicManual";
  font-size: 32px;
  line-height: normal;
  letter-spacing: 0%;
}

.Subheading {
  font-family: "SvBasicManual";
  font-size: 26px;
  line-height: normal;
  letter-spacing: 0%;
}

.Bodycopy {
  font-family: "SvBasicManual";
  font-size: 16px;
  line-height: 115%;
  letter-spacing: 0%;
}

.font-terminal {
  font-family: "SvBasicManual";
}
