.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #FFF5EF;
  /* font-size: medium; */
  font-family: "SvBasicManual";
  padding-top: 100px;
  padding-bottom: 100px;
}

.Header1 {
  font-family: "SvBasicManual";
  font-size: 64px;
  line-height: normal;
  letter-spacing: 0%;
  text-align: left;
}

.Header2 {
  font-family: "SvBasicManual";
  font-size: 32px;
  line-height: normal;
  letter-spacing: 0%;
  text-align: left;
}

.Subheading {
  font-family: "SvBasicManual";
  font-size: 26px;
  line-height: normal;
  letter-spacing: 0%;
  text-align: left;
}

.SubheadingDate {
  font-family: "SvBasicManual";
  font-size: 22px;
  line-height: normal;
  letter-spacing: 0%;
  text-align: left;
  opacity: 50%;
}

.Bodycopy {
  font-family: "SvBasicManual";
  font-size: 16px;
  line-height: 115%;
  letter-spacing: 0%;
  text-align: justify;
}

.Image {
  width: 24px;
  height: 24px;
  margin-top: 6px;
  margin-bottom: -6px;
  margin-right: 4px;
}

.ImageTooltip {
  width: 24px;
  height: 24px;
  margin-top: 6px;
  margin-bottom: -4px;
  /* margin-right: 4px; */
}

.Link {
  text-decoration: none;
  color: black;
}

.ListItem {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: left;
}

.font-terminal {
  font-family: "SvBasicManual";
}

.column1 {
  float: left;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
  min-width: 30%;
  max-width: 30%;
}

.column2 {
  float: left;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 10%;
  min-width: 50%;
  max-width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
